{% extends "layout.html" %}
{% block head %}
<title>{{ domain.name }} on {{ host }} - {{ g.appname }}</title>

<script type=text/javascript>
    function docontrol(action) {
        $.getJSON($SCRIPT_ROOT + '/host/{{ host }}/vm/{{ domain.name }}/control', {
            action: action,
            ts: new Date().getTime()
        }, function(msg) {
            setState();
            $.jGrowl(msg.msg)
        });
    };

    $(function() {
        $('button.btnControl').bind('click', function() {
            var action = this.id;
            if (action == 'start') {
                docontrol(this.id)
            } else {
                switch (action) {
                    case 'stop':        msg = 'Really stop the VM?'; break;
                    case 'reboot':      msg = 'Really reboot the VM?'; break;
                    case 'force_stop':  msg = 'Really pull the plug on the VM?'; break;
                }
                $.dW.confirm(msg, function(){docontrol(action)}, function(){}, {modal: true});
            }
            return false;
        });
    });

    $(function() {
        $('a.update-state').bind('click', function() {
            setState();
            return false;
        });
    });

    function setState() {
        $.getJSON($SCRIPT_ROOT + '/host/{{ host }}/vm/{{ domain.name }}/get-state', {
            ts: new Date().getTime()
        }, function(msg) {
            if (msg.state == 1) {
                $("button.#start").button("option", "disabled", true );
                $("button.#reboot").button("option", "disabled", false );
                $("button.#stop").button("option", "disabled", false );
                $("button.#force_stop").button("option", "disabled", false );
            } else {
                $("button.#start").button("option", "disabled", false );
                $("button.#reboot").button("option", "disabled", true );
                $("button.#stop").button("option", "disabled", true );
                $("button.#force_stop").button("option", "disabled", true );
            }
            $("#state").text(msg.state_str);
        });
    }

    $(document).ready(function() {
        $.jGrowl.defaults.position = 'center';
        $("#buttongroup").buttonset();
        $("button.#start").button({ text: false, icons: {primary:'ui-icon-play'} });
        $("button.#reboot").button({ text: false, icons: {primary:'ui-icon-refresh'} });
        $("button.#stop").button({ text: false, icons: {primary:'ui-icon-stop'} });
        $("button.#force_stop").button({ text: false, icons: {primary:'ui-icon-power'} });

        setState();
    });
</script>

{% endblock %}

{% block body %}
<div><b>{{ domain.name }}</b></div>
<div class="action-buttons">
<div id="buttongroup">
<button class="btnControl" id="start" title="Start"></button>
<button class="btnControl" id="reboot" title="Reboot"></button>
<button class="btnControl" id="stop" title="Stop"></button>
<button class="btnControl" id="force_stop" title="Force stop"></button>
</div><div>
<small><a class="update-state" href="#">Refresh</a></small>
<small><a class="consolelink" href="{{ url_for('domainconsole', host=host, domname=domain.name) }}">Console</a></small>
</div>
</div>
<div>
<table class="info"">
    <tr><td class="infotitle">State:</td><td id="state">{{ domain.state_str }}</td></tr>
    <tr><td class="infotitle">Hosted on:</td><td><a href="{{ url_for('hostinfo', host=host) }}">{{ host }}</a></td></tr>
</table>
</div>
{% endblock %}
