{% extends "layout.html" %}
{% block head %}
<title>Add new host - {{ g.appname }}</title>
{% endblock %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<form method="post" action="{{ url_for('addhost') }}">
  <dl>
    {{ render_field(form.hostname) }}
    {{ render_field(form.uri) }}
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
  </dl>
  <p>{{ form.save|safe }} {% if form.uri.data is not none %} {{ form.delete|safe }} {% endif %}</p>
</form>
{% endblock %}
