{% extends "layout.html" %}

{% block head %}
<title>{{ g.appname }}</title>

{% endblock %}

{% block body %}
    {% if not g.standalone %}
    <div><small><a href="{{ url_for('addhost') }}">Add host</a></small></div>
    {% endif %}
    <div>
    {% for h in hostlist|sort(attribute='name') %}
        <h4><a href="{{ url_for('hostinfo', host=h.name) }}">{{ h.name }}</a></h4>
        <div class="vmlist">
        {% for d in h.domains|sort(attribute='name') %}
            <span class="vmlist-item"><a title="{{ d.description|default('No description available') }}" href="{{ url_for('domaininfo', host=h.name, domname=d.name) }}" class="{{ d.state_str }}">{{ d.name }}</a></span>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
{% endblock %}
