{% extends "layout.html" %}

{% block head %}
<title>{{ host.shortname }} - {{ g.appname }}</title>
{% endblock %}

{% block body %}
<div>
<h4>{{ host.shortname }}</h4>
{% if not g.standalone %}
<a href="{{ url_for('edithost', host=host.shortname) }}"><small>Edit</small></a>
{% endif %}
</div>
<div class="info">
<table class=info>
<tr><td class="infotitle">Hostname:</td><td>{{ host.hostname }}</td></tr>
<tr><td class="infotitle">Connection:</td><td>{{ host.uri }}</td></tr>
</table>
</div>
<div class="vmlist">
{% for d in domains|sort(attribute='name') %}
    <span class="vmlist-item"><a title="{{ d.description|default('No description available') }}" href="{{ url_for('domaininfo', host=host.shortname, domname=d.name) }}" class="{{ d.state_str }}">{{ d.name }}</a></span>
{% endfor %}
</div>

{% endblock %}
