<!doctype html>
<html><head>

<script type=text/javascript src="{{ url_for('static', filename='jquery-1.7.1.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='jquery-ui-1.8.17.custom.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='jquery.dialogWrapper.2.1.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='jquery.jgrowl_minimized.js') }}"></script>
<script type=text/javascript>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='custom-theme/jquery-ui-1.8.17.custom.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery.jgrowl.css') }}">

{% block head %}{% endblock %}

</head>
<body>
<div class="appheader">
<a class="appname" href="{{ url_for('hosts') }}">{{ g.appname }}</a>
</div>
<div class=page>
{% block body %}{% endblock %}
</div>
</body>
</html>
