{% extends "layout.html" %}

{% block head %}
<title>{{ domain }} - VNC console</title>

<script>
  var INCLUDE_URI = "{{ url_for('static', filename='novnc/') }}";
</script>

<script src="{{ url_for('static', filename='novnc/vnc.js') }}"></script>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='novnc.css') }}">

<script type=text/javascript>
    "use strict";

    var rfb;

    function passwordRequired(rfb) {
        var msg;
        msg = '<form onsubmit="return setPassword();"';
        msg += '  style="margin-bottom: 0px">';
        msg += 'Password Required: ';
        msg += '<input type=password size=10 id="password_input" class="noVNC_status">';
        msg += '<\/form>';
        $D('noVNC_status_bar').setAttribute("class", "noVNC_status_warn");
        $D('noVNC_status').innerHTML = msg;
    }
    function setPassword() {
        rfb.sendPassword($D('password_input').value);
        return false;
    }
    function sendCtrlAltDel() {
        rfb.sendCtrlAltDel();
        return false;
    }
    function updateState(rfb, state, oldstate, msg) {
        var s, sb, cad, level;
        s = $D('noVNC_status');
        sb = $D('noVNC_status_bar');
        cad = $D('sendCtrlAltDelButton');
        switch (state) {
            case 'failed':       level = "error";  break;
            case 'fatal':        level = "error";  break;
            case 'normal':       level = "normal"; break;
            case 'disconnected': level = "normal"; break;
            case 'loaded':       level = "normal"; break;
            default:             level = "warn";   break;
        }

        if (state === "normal") { cad.disabled = false; }
        else                    { cad.disabled = true; }

        if (typeof(msg) !== 'undefined') {
            sb.setAttribute("class", "noVNC_status_" + level);
            s.innerHTML = msg;
        }
    }
</script>

<script type=text/javascript>

    $(document).ready(function() {
        <!-- $(".button").button(); -->
        $D('sendCtrlAltDelButton').style.display = "inline";
        $D('sendCtrlAltDelButton').onclick = sendCtrlAltDel;

        rfb = new RFB({'target':              $D('noVNC_canvas'),
                       'encrypt':             (window.location.protocol === "https:"),
                       'true_color':          true,
                       'local_cursor':        true,
                       'shared':              true,
                       'view_only':           false,
                       'updateState':         updateState,
                       'onPasswordRequired':  passwordRequired});

        $.getJSON($SCRIPT_ROOT + '/host/{{ host}}/vm/{{ domain }}/console-info', {
            ts: new Date().getTime()
        }, function(data) {
            rfb.connect(data.host, data.port, '', '');
        });

    });
</script>

{% endblock %}

{% block body %}
<div id="noVNC_screen">
    <div id="noVNC_status_bar" class="noVNC_status_bar" style="margin-top: 0px;">
        <table border=0 width="100%"><tr>
            <td><div id="noVNC_status">Loading</div></td>
            <td width="1%"><div id="noVNC_buttons">
                <input type=button value="Send CtrlAltDel"
                    id="sendCtrlAltDelButton" class="button danger"">
                    </div></td>
        </tr></table>
    </div>
    <canvas id="noVNC_canvas" width="640px" height="20px">
        Canvas not supported.
    </canvas>
</div>
{% endblock %}
