body {
    font-family: sans-serif;
    background: #333333;
}
a {
    color: blue;
}
h1, h2, h4, h6 {
    color: black;
    margin: 0;
}
h1 {
    border-bottom: 2px solid #ddd;
}
h2 {
    font-size: 1.2em;
}

h4 {
    color: black;
    margin: 0;
    padding: 0;
}
h4 a {
    color: black;
}
h6 {
    font-weight: none;
}

small {
    font-size: 0.6em;
}

/* Status colors */
a.running {
    color: green;
}
a.off {
    color: lightgray;
}
a.blocked {
    color: red;
}
a.crashed {
    color: red;
}
a.paused {
    color: gray;
}
a.shutting_down {
    color: gray;
}
a.no_state {
    color: black;
}

.vmlist {
    margin: 0;
    padding: 0;
    border-top: 2px solid #ddd;
    padding-bottom: 0.8em;
}

.vmlist-item {
    padding: 0;
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 0;
}

.appheader {
    margin: 2em auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 95%;
    border: 0px;
    padding: 0.8em;
    padding-top: 0;
    padding-bottom: 0;
}
a.appname {
    font-weight: bold;
    color: #FFCC00;
    text-decoration: none;
}

.page {
    border-radius: 5px;
    margin: 2em auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 95%;
    border: 1px solid #ccc;
    padding: 0.8em;
    background: white;
}
.footer {
    border-radius: 5px;
    margin: 2em auto;
    margin-top: 0.5em;
    width: 95%;
    border: 1px solid #ccc;
    padding: 0.8em;
    padding-top: 5px;
    padding-bottom: 0px;
    background: white;
}
.metanav {
    text-align: left;
    font-size: 0.8em;
    padding: 0.3em;
    margin-bottom: 1em;
    background: #fafafa;
}
.flashes {
    background: #FFFF99;
    padding: 0.5em;
    border: 1px solid #FFFF00;
    list-style-type: none;
}
.error {
    background: #F0D6D6;
    padding: 0.5em;
}

.sysinfo {
    text-decoration: underline;
    font-size: 0.8em;
}

a.tooltip {
    color: #6699FF;
}

/*
.domain-header {
    color: black;
    font-size: 0.8em;
    font-weight: bold;
}
*/
a.domain-header {
    font-size: 0.7em;
    font-weight: none;
}

.action-buttons {
    border-bottom: 2px solid #ddd;
}

.consolelink {
    vertical-align: 0.5em;
    margin-left: 0.2em;
}

.info td {
    font-size: 0.9em;
}


div.info {
    border-top: 2px solid #ddd;
}

td.infotitle {
    font-size: 0.9em;
    font-weight: bold;
}

div.update-state {
    float: right
}
a.update-state {
    vertical-align: 0.5em;
    margin-left: 0em;
    /* font-size: 0.7em; */
}
